body{
  margin: 20px;
}
h2{
  background-color:grey;
  color:black;
  text-align: center;
}
img{
  width:70px;
  float: right;
  margin-top: 0px;
}
.obj{
  background-color:grey;
  line-height: 1.8;
  height: 30px;
  color:black;
  text-align: center;
 text-transform: uppercase;
}
.aca{
  background-color:grey;
  line-height: 1.8;
  height: 30px;
  color:black;
  text-align: center;
 text-transform: uppercase;
}
.f{
  display:flex;
  flex-direction:row;
}
.qua{
  text-align:justify;
  border-color: Black;
  border: solid;
  border-right: none;
}
.ins{
  text-align: justify;
  border-color: Black;
  border: solid;
  border-right: none;
}
.board{
  text-align:justify;
  border-color: Black;
  border: solid;
  border-right: none;
}
.yop{
  text-align:justify;
  border-color: Black;
  border:solid;
  border-right:none;
}
.per{
  text-align:justify;
  border-color: Black;
  border: solid;
}
.be{
  border-bottom: solid;
  border-top: solid;
}
.pes{
  border-bottom: solid;
  border-top: solid;
}
.vtu{
  border-bottom: solid;
  border-top: solid;
}
.yope{
  border-bottom: solid;
  border-top: solid;
}
.pe{
  border-bottom: solid;
  border-top: solid;
}
.pu{
  border-bottom: solid;
}
.ani{
  border-bottom: solid;
}
.kar{
  border-bottom: solid;
}
.yopp{
  border-bottom: solid;
}
.pp{
  border-bottom: solid;
}
.int{
  background-color:grey;
  line-height: 1.8;
  height: 30px;
  color:black;
  text-align: center;
 text-transform: uppercase;
}
.tech{
  background-color:grey;
  line-height: 1.8;
  height: 30px;
  color:black;
  text-align: center;
 text-transform: uppercase;
}
.ach{
  background-color:grey;
  line-height: 1.8;
  height: 30px;
  color:black;
  text-align: center;
 text-transform: uppercase;
}
.personal{
  background-color:grey;
  line-height: 1.8;
  height: 30px;
  color:black;
  text-align: center;
 text-transform: uppercase;
}
.dec{
  background-color:grey;
  line-height: 1.8;
  height: 30px;
  color:black;
  text-align: center;
 text-transform: uppercase;
}
.sig{
  text-align: left;
}
.sign{
  width:150px;
  float: left;
  margin-top: 0px;
}
